$backgroundColor1:rgb(246, 246, 246);
.container{
    display: flex;
    flex-flow: column nowrap;
    row-gap: 30px;
    padding: 20px;
    .header{
        text-align: center;
        span{
            font-weight: 800;
        }
    }
    .applicants{
        display: flex;
        flex-flow: column nowrap;
        row-gap: 30px;
        .applicant{
            display: flex;
            flex-flow: column nowrap;
            row-gap: 10px;
            background-color: $backgroundColor1;
            padding: 10px;
            .name{
                display: flex;
                flex-flow: column nowrap; 
                row-gap: 8px;
               
            }
            .footer{
                display: flex;
                flex-flow: row nowrap; 
                column-gap: 50px;
            } 
        }
    }
}